@import 'https://fonts.googleapis.com/css?family=Aclonica|Bungee+Inline|Caveat+Brush|Chonburi|Devonshire|Engagement|Flavors|Frijole|Fruktur|Galada|Kavoon|Lemon|Lily+Script+One|Mr+Dafoe|Piedra|Press+Start+2P|Ranchers|Romanesco|Rozha+One|Stardos+Stencil';
*{
    margin :0;
    padding:0;
}
body{
    background-image: url(../Imagenes/fondo1.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
/*-----------------HEADER-------------------*/
header{
    width:100%;
    height:68px;
    margin:0px auto;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0px;
    padding:0;
    background:rgba(32, 49, 83, 0.6);
    z-index:10000;
}
header .logo{
    width:600px;
    margin:0px;
    margin-bottom:0px;
    padding:0;
    margin-left:20px;
    display: flex;
}
header .logo h1{
    font-size:50px;
    padding: 2px 0px 10px 80px;
    font-weight: bolder;
    color:white; 
    font-family:Fruktur;
    cursor:pointer;
    
}
/*header .logo a{
    display: block;
    width:30%;
    height:80%;
    
}
header .logo a img{
    width:100%;
    height:100%;
}*/

header nav {
    float:right;
    width:60%;
    height:100%;
    display: flex;
    justify-content: space-around;
}

header nav a{
    width:100%;
    text-align:center;
    text-decoration: none;
    padding:10px;
    box-sizing: border-box;
    font-weight: bolder;
    position: relative;
    font-size:14px;
    color:white;
    padding-top:20px;
    /*#b41923/*#713a10/*#46474e/*rgba(0,0,0,0.5)*/
    margin-right:5px;
    font-family:Lemon;
}
.nuevo{
    color:black;
}
header nav a:before{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background-color:white;
    transition:.3s;
}
header nav a:after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    background-color:white;
    transition:.3s;
}
header nav a span{
    margin-right:15px;
    font-size:20px;
}
header nav a:hover{
   
}
header nav a:hover:before{
    width:100%;
    height:6px;
}

header nav a:hover:after{
    width:6px;
    height:100%;
}

/*---------------------------------------*/

/*-----------------SECTION INGRESO DE USUARIO-----------------*/
.prueba{
    width:90%;
    max-width:1000px;
    overflow: hidden;
    height:460px;
    margin:120px auto;
    /*background-image: url(../Imagenes/fondop2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;*/
    /*background: rgba(0,0,0,0.4);*/ 
    background-size: 100% 100%;
    border-radius:5px;
    position:relative;
}
.forms{
    display: flex;
    width:3000px;
    position: relative;
    height:100%;
}

#ingreso{
    width:600px;
    display: block;
    height:400px;
    background: rgba(0,0,0,0.0);
    border-radius:5px;
    padding:0px;
    box-sizing: border-box;
    position:absolute;
    left:200px;
    top:0px;
}

#ingreso h3{
    text-align:center;
    padding:15px;
    font-size:30px;
    color:white;
    font-family:Galada;
}
#ingreso form{
    padding:10px;
    margin:10px auto;
}
#ingreso form input[type="text"],input[type="password"]{
    width:90%;
    display: block;
    margin:10px auto;
    padding:8px;
    border-style:none;
    background: none;
    /*border-left:3px solid white;
    border-bottom:3px solid white;*/
    font-size:20px;
    border-bottom:2px solid white;
}
#ingreso form ::-webkit-input-placeholder{
    font-family:Fruktur;
    color:white;
}
#ingreso form label{
   display: block;
    width:200px;
    margin:15px 140px;
    text-align: center;
    position: relative;
    height:25px;
    color:white;
}
#ingreso form label input[type="checkbox"]{
    margin-right:2px;
    width:15px;
    height:15px;
}

#ingreso form input[type="button"]{
    display: block;
    width:100px;
    height:30px;
    margin:10px auto;
    background-color:#59748C;
    border:none;
    color:white;
    cursor:pointer;
    transition:.2s;
    border-radius:10px;
    font-family:Piedra;
    font-size:20px;
}
#ingreso form input[type="button"]:hover{
    color:darkslategray;
    background: white;
    font-size:18px;
    font-weight: bolder;
}
#ingreso  a{
    display: block;
    text-align:center;
    margin:8px auto;
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
    font-family:Galada;
}

#ingreso a:hover{
    color:rgba(20, 219, 185, 1);
    text-decoration:underline;
}
/*-------------------------------------------------------------*/

/*------------------NOSOTROS-------------------------------*/
#nosotros{
    width:90%;
    max-width:1300px;
    margin:120px auto;
    display: block;
    padding-top:100px;
}
#nosotros article{
    width:90%;
    
    margin:30px auto;
    padding:20px;
    /* rgba(0,0,0,0.7)*/
    display: flex;
}
#nosotros article .letras{
    display: block;
    width:45%;
    color:black;
}
#nosotros article h2{
    font-family:Galada;
}
#nosotros article p{
    color:black;
    text-align: justify;
    padding: 10px;
    box-sizing: border-box;
    margin-top:20px ;
    margin-right:4px;
    font-family: Romanesco;
    font-size:25px;
}

#nosotros article  iframe{
    width:55%;  
    background-image: url(../Imagenes/fondop2.jpg);
    background-size: 100% 100%;
    transition:.4s;
}
#nosotros article  iframe:hover{
    transform:scale(.9);
}
        /*---------------Integrantes-------------------*/
        #nosotros .quienes {
            display: flex;
            flex-direction: column;
        }
        #nosotros .quienes h2{
            display: block;
            width:100%;
            text-align:center;
            margin-bottom:40px;
            color:black;
            font-family:Galada;
            font-style: normal;
        }
        #nosotros .quienes .fila1{
            width:100%;
            display: flex;
            justify-content: flex-start;
            justify-content: center;
            margin:20px auto;
        }
        #nosotros .quienes .fila2{
            display: flex;
            width:100%;
            justify-content: center;
            margin:20px auto;
        }
        #nosotros .quienes .integrantes{
            width:45%;
            margin-left:2%;
            display:flex;
            justify-content: center;
            padding: 8px;
            transition:.9s;
            position: relative;
        }
        #nosotros .quienes .integrantes:before{
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:0%;
            height:100%;
            background: rgba(0,0,0,0.1);
            transition:.3s;
        }
        #nosotros .quienes .integrantes:hover:before{
            width:100%;
        }
        #nosotros .quienes .integrantes:hover span{
            font-size:30px;
             transition: .5s;
        }
        #nosotros .quienes .integrantes img{
            display:block;
            width:30%;
            height:150px;
            margin:0 10px;
        }
        #nosotros .quienes .integrantes .infor{
            display: block;
            width:65%;
            padding:15px;
            border-left:5px solid white;
        }
        #nosotros .quienes .integrantes .infor p{
            display: block;
            height:10px;
            font-size:12px;
            font-family:Bungee Inline;
        }
        #nosotros .quienes .integrantes .spanns{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size:0px;
            cursor:pointer;
            z-index:20;
            
        }
        #nosotros .porque{
            display: block;    
        }
        #nosotros .porque h2{
            display: block;
            text-align:center;
            font-family:Galada;
        }
        #nosotros .porque .letras{
            width:100%;
            display: flex;
            flex-wrap: wrap;
        }
        #nosotros .porque .letras article{
            width:40%;
            border:1px solid #B23256;
            border-radius:3px;
            box-shadow: 1px 2px 4px#B23256;
        }
        #nosotros .porque .letras article p{
            font-family: Romanesco;
            font-size:22px;
        }
        

        /*----------------------------------------------*/
/*------------------------------------------------------------*/



/*--------------DISEÑO REGISTRO NUEVO USUARIO------------------------*/
#ventana{
    width:800px;
    height:500px;
    background: rgba(0,0,0,0.5);
    border-radius:5px;
    z-index: 60;
    right:0;
    display: block;
    position: absolute;
    left:1200px;
    top:0;
}
#ventana #cerrar{
    width:100%;
    display: flex;
    justify-content: space-between;
}
#ventana  h2{
    display: block;
    text-align:center;
    width:97%;
    padding-top:20px;
    color:white;
    font-size:45px;  
    font-family:Ranchers;
}
#ventana #cerrar a{
    display: block;
    padding-top:20px;
    padding-right:10px;
    text-decoration: none;
    font-weight: bolder;
    color:aquamarine;
    font-size:30px;
    text-align:center;
}
#ventana #registro{
    width:95%;
    display: flex;
    justify-content: center;
    margin:0 auto;
    padding:0;
}
#ventana #registro .col1{
    width:50%;
    border-right:3px solid white;
    display: flex;
    flex-direction: column;
    margin:50px 0;
}
#ventana #registro .col1 input[type="text"]{
    width:97%;
    margin:20px 0;
    border:none;
    background: none;
    border-bottom:2px dotted white; 
    
    font-size:18px;
    color:white;
}
#ventana #registro .col1 ::-webkit-input-placeholder{
    font-family: Galada;
}
#ventana #registro .col2{
    width:50%;
    border-left:3px solid white;
    display: flex;
    flex-direction: column;
    margin:50px auto;
}
#ventana #registro .col1 p{
    text-align:center;
    font-size:18px;
    color:white;
    font-family:Piedra;
}
#ventana #registro .col1 input[type="file"]{
    display: block;
    width:97%;
    margin:10px auto;
    text-align: center;
    border-bottom: 2px dotted white;
    padding-bottom:6px;
    color:white;
}
#ventana #registro .col2 input[type="password"]{
    width:97%;
    margin:20px auto;
    padding:10px;  
    border:none;
    background: none;
    border-bottom:2px dotted white; 
    font-size:18px;
    color:white;
}
#ventana #registro .col2 ::-webkit-input-placeholder{
    font-family: Galada;
}
#ventana #registro .col2 button{
    width:180px;
    margin:20px auto;
    padding:8px;
    border-radius:4px ;
    background: none;
    color:black;
    font-weight: bolder;
    font-size:18px;
    cursor:pointer;
    background: #f0f7fb;
    font-family:Piedra;
}

/*--------------------------------------------------------------------*/

/*------------------------DISEÑO RECUPERACIÓN DE CUENTA----------------------------*/
#ventana2{
    width:600px;
    height:500px;
    
    background: rgba(0,0,0,0.5);
    z-index: 60;
    position: absolute;
    left:-800px;
    top:0;
    
}

#ventana2 #cerrar2{
    width:100%;
    display: flex;
    justify-content: center;
}
#ventana2  #cerrar2 h2{
    display: block;
    text-align:center;
    width:80%;
    padding-top:20px;
    color:white;
    font-size:45px;  
    font-family:Ranchers;
}

#ventana2 #cerrar2 a{
    display: block;
    padding-top:20px;
    text-decoration: none;
    font-weight: bolder;
    color:aquamarine;
    font-size:30px;
}

#ventana #registro2{
    width:80%;
    display: flex;
    justify-content: center;
    margin:0 auto;
}
#ventana2 #registro2 .col1{
    width:80%;
    display: flex;
    flex-direction: column;
    margin:50px auto;
}
#ventana2 #registro2 p{
    display: block;
    width:80%;
    font-size:60px;
    color:white;
    padding-top:60px;
    font-family:Engagement;
    text-align:center;
    margin:0 auto;
}
#ventana2 #registro2 .col1 input[type="text"]{
    width:60%;
    margin:20px auto;
    padding:10px;  
    border:none;
    background: none;
    border-bottom:2px dotted white; 
    font-size:18px;
    color:white;
}
#ventana2 #registro2 .col1 ::-webkit-input-placeholder{
    font-family: Galada;
}

/*----------------------------------------------------------------------*/