@charset "utf-8";
*{
	padding:0;
	margin:0;
	}
html, body{
	width:100%;
	height:100%;
	font-family:Verdana;
	}
body{
	background-color:#FFE419;
		}
header{
	width:80%;
	margin-left:10%;
	float:left;
	}
h1{
	margin-top:2%;
	margin-left:5%;
	color:#B21466;
	}
#m{
	color:black;
	text-align:justify;
	margin-top:2%;
	font-size:30px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	}	
#c{
	color:black;
	text-align:center;
	margin-top:6%;
	margin-bottom:2%;
	margin-left:2%;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
input{
	margin-left:30%;
	width:40%;
	margin-top:1%;
	padding:1%;
	border:3px solid #FFE419;
	border-radius:10px;
	background-color:white;
	}
#re{
	width:30%;
	margin-top:5%;
	margin-left:35%;
	border:3px solid #FFE419;
	border-radius:10px;
	text-align:center;
	padding:2%;
	font-size:24px;
}
#re:hover{
	background-color:#B21466;
	color:yellow;
	cursor:pointer;
	}