@charset "utf-8";
*{
	padding:0;
	margin:0;
	}
html, body{
	width:100%;
	height:100%;
	font-family:Verdana;
	}
body{
	background-color:#FFE419;
		}
header{
	width:100%;
	float:left;
	}
#logo{
	width:20%;
	padding-top:1%;
	float:left;	
	}
#logo img{
	width:80%;
	margin-left:15%;
 }
#usuario{
	width:20%;
	float:left;
	margin-top:1%;
	}
#perfil{
	width:30%;
	margin-left:35%;
	}
.cambio{
	display:none;
	position:absolute;
	background-color:white;
	margin-top:0.5%;
	padding-top:2.5%;
	margin-left:5.6%;
	border-radius:5px;
	}
.tri{
	width:0;
	height:0;
	border:14px solid transparent;
	border-bottom-color:white;
	margin-left:40%;
	margin-top:-48%;
	}
.ini{
	text-align:center;
	border-radius:2px;
	width:100%;
	font-size:18px;
	}
.ini:hover{
	background-color:#FFE419;
	cursor:pointer;
	color:salmon;
	}
nav{
	width:60%;
	padding-top:1%;
	float:right;
	}
nav .enlace{
	width:30%;
	float:left;
	}
nav .enlace{
	margin-left:1.6%;
	margin-right:1.6%;
	}	
.enlace p{
	text-align:center;
	font-size:22px;
	color:#B21466;
	line-height:450%;
	font-weight:600;
	}
.enlace p:hover{
	background-color:white;
	}	
	a{
	text-decoration:none;
	}
.preg{
	display:none;
	position:absolute;
	width:18%;
	background-color:#FFE419;
}
.interfaz{
	width:90%;
	margin-left:5%;
	float:left;
	}
#inicio h1{
	margin-top:5%;
	margin-left:2.5%;
	color:darkslategray;
	font-family:'Open Sans', sans-serif;
	font-weight:lighter;
	}
#actividades{
	width:100%;
	}
.actividad{
	width:20%;
	margin:2.5%;
	float:left;
	background-color:white;
	margin-top:7.5%;
	border-radius:10px;
	}
.actividad img{
	width:80%;
	margin-left:10%;
	padding-top:10%;
	}
.actividad p{
	text-align:center;
	margin-top:5%;
	margin-bottom:10%;
	font-size:24px;
	color:black;
	font-family:'Fjalla One', sans-serif;
	}
#con:hover{
	content:url('images/conversaP.png');
	cursor:pointer;
	}
#ens:hover{
	content:url('images/enseñaP.png');
	cursor:pointer;
	}
#apr:hover{
	content:url('images/aprendeP.png');
	cursor:pointer;
	}
#arg:hover{
	content:url('images/argumentaP.png');
	cursor:pointer;
	}
#mensaje{
	width:90%;
	float:left;
	margin-left:5%;
	background-color:white;
	border-radius:5px;
	margin-bottom:2%;
	margin-top:5%;
	display:none;
	}
#mensaje #people{
	width:25%;
	float:left;
	padding-bottom:1%;
	text-align:center;
	margin-top:1%;
	}
#mensaje #chat{
	width:74.5%;
	float:right;
	}
.member{
	width:100%;
	float:left;
	display:table;
	display:-webkit-flex;
   	display:flex;
	margin-bottom:0.5%;
	}
.member:hover{
	cursor:pointer;
	border-left:4px #B21466 solid;
	}
.foto{
	width:20%;
	float:left;
	border-radius:5px 0 0 5px;
	}
.foto img{
	width:100%;
	border-radius:5px 0 0 5px;
	}
.name{
	width:80%;
	float:left;
	border-radius:0 5px 5px 0;
	}
.name p{
	}
#view{
	background-image:url(images/fondo.png);
	width:100%;
	height:402px;
	border-radius:0 5px 5px 0;
	}
#x{
	width:3%;
	position:static;
	float:right;
	padding-right:1%;
	padding-top:1%;
	}
#x:hover{
	cursor:pointer;
	}
#coment form{
	width:100%;
	}
#sms{
	width:89%;
	float:left;
	padding-bottom:2%;
}
input::-webkit-input-placeholder {
	font-size:16px;
	}
#do{
	display:none;
	}
#adj{
	display:none;
	}
#clip{
	width:5%;
	float:left;
	margin-left:0.5%;
	background-color:#B21466;
	border-radius:5px;
	}
#clip img{
	width:32%;
	margin-left:34%;
	padding-top:4%;
	padding-bottom:4%;
	}
#enter{
	width:5%;
	float:left;
	background-color:#B21466;
	border-radius:5px;
	}
#enter img{
	width:56%;
	margin-left:22%;
	padding-top:12%;
	padding-bottom:12%;
	}
#enter, #clip :hover{
	cursor:pointer;
	}